{% extends 'index.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="display-2">Kidlington</div>
            <div>25 Banbury Rd Oxfordshire</div>
        </div>
        <div class="col">
            <div class="display-2">Contact Info</div>
            <div>Phone Number: +1 (186) 537 0505</div>
            <div>Email Address: dealership.contact@website.com</div>
        </div>
    </div>
</div>

{% endblock %}